@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.slider {
  width: 100%;
  min-height: 80vh;
  /*background-image: url('IMAGE/istockphoto-1282643735-1024x1024.jpg');*/
  background-size: contain; /* Ajuste l'image pour qu'elle soit entièrement visible */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
  background-position: center; /* Centre l'image */
  background-color: black; /* Couleur de fond pour éviter les bordures noires */
  position: relative;
}

.slider-background {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(85%);
}

.slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  color: white;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 100px;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(0deg);
  white-space: nowrap;
  display: inline-block;
}

p {
  font-size: 1.5rem;
  line-height: 1.5em;
  margin-bottom: 50px;
}

.slider-content p {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.section {
  padding: 100px 0;
}

.boxed {
  max-width: auto;
  margin-inline: auto;
}

.flex {
  display: flex;
}

.background-cream {
  background-color: #d4caba;
  color: white;
}

.background-white {
  background-color: white;
  color: #d4caba;
}

.w25 {
  width: 25%;
}

.w32 {
  width: 32%;
}

.w40 {
  width: 40%;
  color: #d4caba;
}

.w60 {
  width: 60%;
  color: #d4caba;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.gap20 {
  gap: 20px;
}

.skill {
  background: rgb(228, 208, 182);
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.skill img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.skill h3 {
  margin-top: 10px;
  color: white;
}

.realisation {
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.realisation a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #d4caba;
}

.realisation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
  transition: 4s ease;
}
.realisation:hover img {
  filter: brightness(60%);
}

.realisation:hover h3 {
  opacity: 1;
}

.realisation h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  width: max-content;
  opacity: 0;
  transition: 0.4s ease;
}

.icon {
  display: block;
}

.value {
  display: block;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 999;
  padding-block: 10px;
  box-shadow: 1px 1px 25px rgb(236, 211, 180);
}

.header-logo {
  display: block;
}

.header-logo img {
  width: 60px;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu li a {
  font-size : 20px;
  text-decoration: none;
  color: #d4caba;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
  transition: 0.2s ease;
}

.header-menu li a:hover {
  background-color: #f2f2f2;
}

.header-menu li:last-child a {
  background-color: #ffe5ca;
}

.header-menu-mobile {
  display: none;
}

@media (max-width: 810px) {
  header {
    height: 60px !important;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 991;
  }

  .header-menu-mobile {
    display: block;
    border: 0px;
    background-color: white;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 991;
  }

  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
  }

  .header-menu li:last-child a {
    margin-top: 10px;
  }

  .active {
    display: flex;
  }

  .slider {
    height: 60vh;
  }

  .slider-content {
    width: 90%;
  }

  .slider-content p {
    margin-top: 20px;
    font-size: 1.5rem;
    text-wrap: balance;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1rem;
    text-wrap: balance;
  }

  .toColumn {
    flex-direction: column;
  }

  .mCenter {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wm100 {
    width: 100% !important;
  }
  .wm50 {
    width: 50% !important;
  }

  .section {
    padding: 50px 0;
  }

  .boxed {
    max-width: 90%;
  }

  .mgap20 {
    gap: 20px;
  }
}
